
body{
    margin: 0;
    font-family: 'Saira', sans-serif;
    background-image: url("../images/brickwall.png");
}
#backImg{
    background: url(../images/header.jpg);
    height: 400px;
    filter: brightness(0.5);
    position: absolute;
    width: 100%;
    z-index: -1;
}
#topbar{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    position:sticky;
}
 a{
    text-decoration: none;
}
#logo{
    text-shadow: 0px 10px 5px rgba(255, 255, 255, 0.3);
    font-size: 40px;
    color: #bb7272;
    font-weight: bold;
}
#MLogo{
    visibility:hidden;
}
#logo span{
    color:#852727
}
#BigMenu>ul{
    width: 600px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
#BigMenu ul a{
    text-shadow: 0px 10px 4px rgba(255, 255, 255, 0.3);
    color: #a7a41d;
    font-weight: 700;
    font-size: 25px;
}
#BigMenu>ul>li>ul{
    display: none;
}
#BigMenu>ul>li:hover>ul{
    display: flex;
    justify-content:flex-start space-between;
   
}
#BigMenu>ul>li>ul{
    flex-direction: column;
    list-style: none;
    border:  2px dashed #852727;
    border-radius: 3px;
}
@media all and (max-width:864px){
    #BigMenu{
        display: none;
    }
    #logo{
        display: none;
    }
    #MLogo{
        visibility: visible;
        text-shadow: 0px 10px 5px rgba(255, 255, 255, 0.3);
        font-size: 40px;
        color: #bb7272;
        font-weight: bold;
    }
    #MLogo span{
        color:#852727
    }
    
}






