
body{
    padding: 0;
    margin: 0;
    font-family: 'Saira', sans-serif;
    font-size: 16px;
    background: #615555;
    box-sizing: border-box;
    color: #252525;
}

a{
    text-decoration: none;
}
h1{
    font-size: 1.7em;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    text-align: center;
}
h2{
    margin: 0;
    padding: 0;
    text-align: center;
}
h3{
    text-align: center;
}
.od{
    margin-bottom: 67vh;
}
header{
    border-bottom: 1px solid #423d3d;
}
.container{
    position: relative;
    background: url("../images/brickwall.png");
    min-height: 100vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    overflow: hidden;
    -webkit-box-shadow: 0px 11px 5px 8px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 11px 5px 8px rgba(0,0,0,0.5);
    box-shadow: 0px 11px 5px 8px rgba(0,0,0,0.5);
}
header div:first-child{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 2.9em;
    color: #964a2c; 
    margin-right: 5%; 
    text-shadow: 1px 4px 9px rgb(94, 92, 92);
 
}

header>div:first-child>span:last-child{
    color: #962f07;
}
#little-nav{
    display: flex ;
    justify-content: flex-end;
    align-items: center;
    z-index: 9999;
}
.little-nav-trigger{
    position: absolute;
    top: 20px;
    right: 7px;
    border: 0;
    border-radius: 3px;
    background: #552d1e;
    opacity: 0.7;   
}
.little-nav-trigger>span{
    display: block;
    height: 2px;
    width: 10px;
    margin: 3px;
    background: #ffffff;
}

.little-menu{
    display: flex;
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    width: 300px;
    top: 50px;
    right: -300px;
    padding: 0;
    transition: 0.3s transform ease-in-out;
}
.little-menu ul{
    position: absolute;
    display: flex;
    height: calc(100%-50px);
    flex-wrap: wrap;
    margin: 0 10px;
    padding: 0;
    list-style-type: none;
    align-content: flex-start;
    background: url("../images/header2.jpg");
    border-radius: 5px;
    z-index: 10; 
}
.little-menu>ul>li{
    display: flex;
    height: 30px;
    flex-basis: 100%;
    margin-top: 10px;
    border-radius: 5px;
    overflow: hidden;
    background: rgba(155, 152, 152, 0.5);
}
.little-menu ul li a{
    display: flex;
    color: #2b2424;
    padding: 10px;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    box-sizing: border-box;
}
.little-nav-trigger:focus~.little-menu, .little-menu:hover{
    transform: translateX(-300px); 
    animation-name: litmen;
    animation-duration: 0.6s;
}

@keyframes litmen{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.content{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;  
    padding: 2%;
    margin: 7%;
    text-align: center;
}
.content p{
    text-align: justify;
}
.content>div:first-child{
    display: grid;
    grid-template-columns: 1fr;
    min-height: 150px;
    justify-content: center;
}
.content img{
    margin-left: auto;
    margin-right: auto;  
    width: 300px;
    margin-bottom: 15px;
}
footer{
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-top: 2%;
    color: #e0e2e2;
    background: #1b1818;
    font-size: 0.5em;
    text-align: center;
}
footer a{
    color:  #e0e2e2;
}
@media (max-width: 330px) {
    .content{
        margin: 0;
        margin-bottom: 2%;
    }
}
@media (min-width: 700px) {
    body{
        font-size: 26px;
    }

    .little-nav-trigger>span{
        height: 5px;
        width: 40px;
        margin: 8px;
    }
    .little-menu{

        width: 600px;
        top: 100px;
        right: -600px; 
    }
    .little-menu>ul>li{
        
        height: 50px;
    }
    .little-menu ul li a{

        font-size: 1.1em;
    }
    .little-nav-trigger:focus~.little-menu, .little-menu:hover{
        transform: translateX(-600px); 
    }
    .content img{
        width: 250px;
        margin-right: 2%;
        margin-left: 2%;
    }
    .content>div:first-child{
        grid-template-columns: 1fr 1fr;
    }
    @media (min-width:1300px){
        body{
            font-size: 20px;
        }
        .container{
            width: 1000px;
            overflow: visible;
        }
        header div:first-child{
            margin-left: 1%;
        }
        .little-nav-trigger:focus~.little-menu, .little-menu:hover{
            transform: translateX(0px); 
        }
        @keyframes litmen {
            0%{
                opacity: 1;
            }
        }
        .little-nav-trigger{
            display: none;
        }
        .little-menu{
            top: 10px;
            right: -205px;
            width: 210px;
            font-size: 0.5em;
        }
        .little-menu ul{
            background: none;
        }
        .little-menu ul li{
            background: url("../images/header3.jpg");
            transition: 0.3s ease-in-out;
            font-size: 1.3em;
        }
        .little-menu ul>li:hover{
            font-size: 1.5em;
            /* background: rgba(155, 152, 152, 0.7); */
            font-weight: bold;
        }
        .content img{
            width: 250px;
            margin-right: 1%;
            margin-left: 1%;
            -webkit-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.61);
            -moz-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.61);
            box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.61);
            transition: 0.2s transform ease-in-out;        }
        .content img:hover{
            transform: scale(1.2);
        }
        .content>div:first-child{
            grid-template-columns: 1fr 1fr 1fr;
        }
        
}